/* codigo novo */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

      /*Reset =  diminuir as interferencias dos navegadores */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    /*Estas propriedades são herdadas pelos elementos da pagina*/
    font-family: "Inter",sans-serif;
    font-size: 24px;
    color: rgb(243, 242, 242);
}

/*tornando o container flexivel*/
.navbar {
    background-color: #ca924d;
    display: flex;
    height: 140px;
    justify-content: center;
    padding: 15px;
    
}

.navbar img {
    height: 140px;
}

.nav-links {
    display: flex;
    gap: 12px;
    align-items: center;
    padding: 20px;
}

.material-symbols-outlined {
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 30px;
    color: rgb(255, 241, 212);
}
.nav-links a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.nav-links :hover {
    color:#e2de00;
    color: #ff9a63;
}

body {
    background-color: #d6c281;
}
.cabecalho {
    height: 500px;
    padding: 35px 26px; /* primeiro vert e seg. hori*/
    background: linear-gradient(0deg, #222e26, transparent), url('/Atividade-Semana-2/img/Hotel\ 3.jpg');
    background-repeat: no-repeat;
    background-size: cover; /*forçando a imagem a ficar encaixada no espaço.*/
    opacity: 0.7;
}
.titulo {
    font-size: 2.5rem; 
    color: rgb(253, 255, 254);
}

.descricao { 
    font-style: italic;
    font-size: 1.4rem;
}

.btn {
    background-color: transparent;
    border: solid white;
    color: white;
    border-radius: 8px;
    padding: 2px 2px;
    font-size: 1rem;
    font-family: "Inter", sans-serif;
    margin: 1%;
    align-items: center;
    cursor:pointer;
    /* pequenas animações ao mudar o valor de uma propriedade*/
    transition: background-color 0.9s;
}

.btn img {
    height: 100px; 
}

.contato-texto {
    width: 1000px;
    margin: auto;
    padding: 30px;
    text-align: left;
    background-color: #c4b878;
    color: #121212;
    border-color: #121212;
    
}

/*:hover => aplica uma pseudo classe um estilo quando o mause passa sobre o botão*/

.btn:hover {
    background-color: white;
    color: #121212;

}

.newsletter {
    width: 300px;
    margin: auto;
    padding: 16px;
}

input {
    width: 100%;
    padding:  12px 20px;
    margin: 8px 0;
    border-radius: 4px;
    font-family: "Inter", sans-serif;

}

.btn-w100 {
    width: 100%;
}

.cronograma {
    width: 800px;
    margin: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td, th {
    border: 1px solid #ccc;
    padding: 8px;
}

th {
    text-align: left;
    background-color: #ccc;
    color: #121212;
    border-color: #121212;
}

.contato-whatsapp {
    width: 56px;
    height: 56px;
    background-color: white;
    border-radius: 50%;
    padding: 8px;
    /* Fixa o elemneto na tela */
    position: fixed;
    right: 16px;
    bottom: 16px;

}
.contato-whatsapp img{
    width: 100%;
}

.contato-whatsapp:hover{
    filter:invert(1);
}

footer {
    background-color: #ca924d;
    display: flex;
    height: 200px;
    justify-content: center;
    padding: none;
    flex-direction: row;
    justify-content: center;
    
    /*background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position:;
    bottom: 0;
    width: 30px%;*/
} 
.container-footer img {
    height: 80px;
}



/*
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: #eaebd2;
}
header {
    background-color:     #FF9C66;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.container {
    max-width: 960px;
    margin: 20px auto;
    padding: 0 20px;
}
.main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.hotel-info {
    flex: 1;
}
.hotel-info h1 {
    font-size: 36px;
    margin-bottom: 10px;
}
.hotel-info p {
    font-size: 18px;
    line-height: 1.6;
}
.hotel-image {
    flex: 1;
    text-align: center;
}
.hotel-image img {
    width: 500px;
    height: 300px;S
}



footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}  */
